<h2>Livros Retirados: </h2>
<a href="/admin/livro/retirado/registrar"><button class="btn btn-primary">Registrar retirada</button></a>

{{#each retirados}}
    <div class="card mt-4">
        <div class="card-body">
            <h1>{{livro.nome}}</h1>
            <h4>Retirado por: <a href="/admin/usuarios/{{pessoa._id}}">{{pessoa.nome}}</a></h4>
            <small>Previsao de entrega: {{entrega}}</small><br>
            <form action="/admin/livro/devolver" method="post">
                <input type="hidden" name="id" value="{{_id}}">
                <input type="hidden" name="livro" value="{{livro._id}}">
                <button type="submit" class="btn btn-success mt-2">Devolver Livro</button>
            </form>
        </div>
    </div>
{{else}}
    <p class="mt-4">Nenhum livro retirado</p>
{{/each}}