<h4>Livros: </h4>

{{#each livros}}
    <div class="card mb-3 mt-2">
      <div class="row g-0">
        <div class="col-md-3 centralizar-img" style="text-align: center;">
          <img src="/img/{{slug}}.webp" class="img-fluid rounded-start imgs" alt="...">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{nome}}</h5>
            <p class="card-text">{{sinopse}}</p>
            <hr>
            <p><small class="card-text">Genero: {{genero}}</small></p>
            {{#if disponibilidade}}
              <a href="/livro/retirada/{{_id}}"><button class="btn btn-primary">Pegar Livro</button></a>
            {{else}}
              <small style="font-weight: bold;">Livro ja retirado</small>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
{{else}}

{{/each}}


